
@media only screen and (max-width: 1020px){
    nav{
        display: none;
    }

    .singin-button{
        display: none;
    }




    .mobile-menu[data-visible="false"]{
        display: none;
    }

    .mobile-menu[data-visible="true"]{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 50px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        border-radius: 150px;
        padding: 100px 125px;

        z-index: 1;
    }

    .side-menu[data-visible="false"] {
        display: none;
    }

    .side-menu[data-visible="true"] {
        
        padding: 30px 30px;
        width: 5%;
        
    }


    #nav-logo{
        margin: 0px;
        padding: 0px;
        width: 70px;
       
    }
    
    
    

    a {
        font-size: 20px;
        text-shadow: 2px 1px 5px black;
    }
    


}