@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*:focus{
    outline: solid #9E00FF;
}



body{
    margin: 0;
    font-family: 'Krona One', sans-serif;
    background: linear-gradient(269deg, rgb(25, 12, 63) 30.71%, rgb(8, 20, 78) 116.61%);
    
    
}



input{
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.08);
    width: 400px;
    height: 40px;
    padding-left: 20px;
  
    backdrop-filter: blur(20px);

    border: none;
    color: white;

    
}

span{
    color: white;
    font-size: 11px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 3px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    max-width: 200px;
max-height: 50px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(261deg, #B003CC -16.43%, #9E00FF -16.41%, #BD00FF 132.42%);
    margin: 40px 0px;
    padding: 20px 45px;
    color: white;
    border: none;

    font-size: 11px;
    font-family: 'Krona One', sans-serif;
}


a{
    font-size: 9px;
    color: white;
}













.logo{
    width: 70px;
    margin-bottom: 20px;
   
    filter: invert(1);
}




.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 600px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.08);

    
    backdrop-filter: blur(10px);

    margin: auto;
    top: 50%;
  transform: translate(0, 50%);

    
}

.wrapper .svg_wrapper{
    align-self: flex-end;

    margin-right: 70px;
    margin-top: 30px;


}

.wrapper .button{
    align-self: center;
}


.form-wrapper{
    display: flex;
    flex-direction: column;
}

form .links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 150px;
    
}